body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.jumbotron {
    background-color: white;
}

div.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #0E2B7B;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: white;
    border-bottom: 1.5px solid white;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#logo {
    height: 60px;
    width: 60px;
}

.navbar-inverse {
    border: white;
}

.navbar-nav>li>a, .navbar-brand {
    padding-top: 20px;
}

.container {
    padding-left: 1px;
    padding-right: 10px;
}

.jumbotron h1 {
    font-size: 50px;
}

.container>.navbar-header {
    margin-left: 5px;
}

.navbar-brand {
    font-size: 16px;
    font-weight: bold;
}

.body-content {
    padding-top: 20px;
}

.navbar-inverse .navbar-toggle{
    border-color: white;
}

.navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse .navbar-toggle:focus .icon-bar{
    background-color: #0E2B7B;
}

.navbar-inverse .navbar-toggle{
    margin-top: 13px;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: white;
}

#homeButton {
    margin-left: 30px;
}

.navbar-nav>li>a{
    padding-bottom: 10px;
}

/*
#reports-table tbody div {
  font: 10px sans-serif;
  background-color: blue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#reports-table tbody div:hover {
    background-color: red;
}
*/

#report-form-button {
  background: url("{% static 'app/numbers_icon.png' %}") no-repeat;
}

#reports-table tbody rect {
  fill: blue;
}

#reports-table tbody text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#reports-table tbody rect:hover{
    fill: red;
}

#errors p {
    text-align: center;
    color: red;
    font-size: 1em;
}
