{% extends "app/layout.html" %}

{% block content %}

<script>
$( document ).ready
(
    function() 
    {
        $.noConflict();
        
	function submit_form() 
        {
            $.ajax
            ({
                url : "{% url 'add_emp' %}",
                
		type : "POST", // http method
                
		data : 
                { 
                    mailing_list : $('#mailing_list').val(), 
                    first_name : $('#first_name').val(), 
                    last_name : $('#last_name').val(), 
                    email : $('#email').val() 
                }, // data sent with the post request
	        
		success : function(json) 
                {              
                    $('#div').html
                    (
                        "<div style='border:3px;border-style:solid;border-color:black;'><h1 style='text-align:center'>" + json.result + "</h1><h3 style='text-align:center'>Added " + json.person_first_name + " " + json.person_last_name + " to the " + json.person_service + " mailing list.</h3></div>"
                    );
                    $('#mailing_list').val('');
                    $('#first_name').val('');
                    $('#last_name').val('');
                    $('#email').val('')
                    $('#' + json.person_service_id).html
                    (                 
                        "<p id='" + json.person_first_name + json.person_last_name + "'>" + json.person_first_name + " " + json.person_last_name + ": " + json.person_email + " <button type='submit' id = '" + json.person_id + "' value = '" + json.person_id + "' class='btn btn-default delete-emp-button'>Delete</button></p>"		
                    );
                    $('html, body').animate({ scrollTop: 0 }, 0); 
                }
             });
        };

       	function delete_emp(buttonpressed) 
        {
            console.log(buttonpressed);
            $.ajax
            ({
                url : "{% url 'delete_emp' %}",
                
	        type : "POST", // http method
                
	        data : 
                { 
                    person : buttonpressed,
                }, // data sent with the post request
	        
	        success : function(json) 
                {   
                    $("#div").html
                    (
                        "<div style='border:3px;border-style:solid;border-color:black;'><h1 style='text-align:center'>" + json.result + "!</h1><h3 style='text-align:center'>Removed " + json.person_first_name + " " + json.person_last_name + " from the " + json.person_service + " mailing list.</h3></div>"
                    );
                    $('.mailing_list').addClass('collapsed');
                    console.log(json.person_first_name + json.person_last_name);
                    $('#' + json.person_first_name + json.person_last_name).remove();
                    $('.mailing_list_2').removeClass('in');
                    $('.mailing_list_2').addClass('collapse');
                    $('html, body').animate({ scrollTop: 0 }, 0); 
                },
            });
        };

        
        $('.delete-emp-button').click
        (
            function() 
            {
                var buttonpressed = $(this).attr('value');      
                console.log(buttonpressed); 
                delete_emp(buttonpressed);
            }
        );


        $('.submit-form-button').click
        (
            function() 
            {
                submit_form();
            }
        );
    }
);  
</script>

<div class="jumbotron">
    <div id="div">
    </div>
    <h1>Mailer</h1>
    <h2>Add New Employee</h2> 
	<div class="form-group">
		<label for="mailing_list">Mailing List</label>
		<select id="mailing_list" name="mailing_list" class="form-control">
			<option value="">Mailing List</option>
			{% for list in mailing_lists %}
				<option value="{{ list.id }}">{{ list }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="form-group">
		<label for="first_name">First Name</label>
                <input id="first_name" name="first_name" class="form-control" value="{{ first_name }}"></input>
       	</div>
        <div class="form-group">
		<label for="last_name">Last Name</label>
                <input id="last_name" name="last_name" class="form-control" value="{{ last_name }}"></input>
        </div>
	<div class="form-group">
		<label for="email">Email</label>
                <input id="email" name="email" class="form-control" value="{{ email }}"></input>
        </div>
       <button type="submit" id = "report-form-button" class="btn btn-default submit-form-button">Add person</button>
    <h2>Current Mailing Lists</h2>
    {% for list in mailing_lists %}
	<button class="mailing_list btn btn-default" type="button" data-toggle="collapse" data-target="#{{ list.id }}" aria-expanded="false" aria-controls="collapseExample">
    		{{ list.service }}
    	</button>
	<div class="mailing_list_2 collapse" id="{{ list.id }}">
  		<div class="card card-block">
        		{% for person in list.members %}
            			<p id='{{ person.first_name }}{{ person.last_name }}'>
					{{ person.first_name }} {{ person.last_name }}: {{ person.email }}
					<button type='submit' id = '{{ person.id }}' value = '{{ person.id }}' class='btn btn-default delete-emp-button'>Delete</button> 
	   			</p>
        		{% endfor %}
                        <p id="{{ list.service.merchant_id }}">
                        </p> 
		</div>
	</div>
	<br>
    {% endfor %}
{% endblock %}
